.main {
  width: 50vw;
  text-align: center;
}
.main2{
  width: 100%;
  height: 100%;
}
.main-content{
  margin: 50px 10px 20px 20px;
  background-color: #b3b3b3;
  border-radius: 20px;
  overflow: scroll;
  max-height: 85vh;
}
.side {
  padding-left: 3%;
  width: 50vw;
  height: 100%;
}
.side2{
  width: 10%;
  justify-content: center;
}
.side-content {
  margin: 5vh 20px 20px 20px;
  }
.side-content-title{
  text-align: center;
}
.main-content-title{
  margin-top:30px;
}
.main,
.side {
  border-radius: 10px;
  height: 100vh;
}

@media ( min-width : 600px ){
	.flexbox {
    display: -webkit-flex;
    display: flex;
	}
  .main {
    margin: 0 10px 0 0;
  }
}

.circle-list > li {
  margin: 10px 0 10px 0;
}

.select-ticket-information{
  position: relative;
  display: flex;
  width: 30%;
  background: #fff;
  border-radius: 31px;
  font-family: Ubuntu-Bold;
  font-size: 18px;
  color: #8f8fa1;
  line-height: 1.2;
  margin-left: 10px;
}

.receivers{
  display: flex;
}
.receivers > .select-ticket-information{
  margin: 0px 30px 0px 30px;
}
.receivers > .new-receiver-btn{
  margin: 0px 30px 0px 30px;
}
.new-receiver-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 30px;
  height: 30px;
  background-color: #57b846;
  border-radius: 31px;

  font-family: Ubuntu-Bold;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.new-receiver-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 31px;
  background-color: #6c7ae0;
  pointer-events: none;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.new-receiver-btn:hover:before {
  background-color: #2eb82e;
  width: calc(100% + 20px);
}

.container {
    border-radius: 5px;
    padding: 10px;
    width: 95%;
    margin: 5px 10px 10px 10px;
    min-height: 100px;
}

.container-left{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
}
.container-right{
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    width: 100%;
    margin: 0 20px 0 20px;
    border-radius: 50%;
}
.container-left img{
    float: left;
}
.container-right img{
    float: right;
}

/* Style time text */
.time {
    color: #aaa;
    float: right;
}

.message{
  margin: 0 5px 0 5px;
}
.message-left{
  float:left;
}

.message-right{
  float:right;
  margin-left:auto;
}

.container > div {
  display: flex;
  flex-wrap: wrap;

}
.container > div > div {
  flex-grow: 1;
  width: 33%;
  width: 100px;
  height: 100px;
}

.container > div > div:nth-child(even) {
  padding: 0px 20px 0px 20px;
  width: 80%
}
.container > div > div:nth-child(odd) {
  width: 10%;
}

#senderName {
  font-size: 12px;
}

img {
  width: 32px !important;
  height: 32px !important;
}

select {
  outline: none;
}